<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="include/head :: head"></head>
	<body>
		<section th:replace="include/header :: header"></section>
		
		<div class="album py-5">
			<div class="container">
				<div class="row">
					<div class="clearfix w-100">
						<div class="float-left w-25">
							<img class="w-50" src="https://image.aladin.co.kr/product/16234/12/cover/8932035059_1.jpg" th:alt="${book.title}">
							<div class="d-inline-block" th:each="image : ${book.images}">
								<p th:text="${image}"></p>
							</div>
						</div>
						<div class="float-right w-50">
							<h1 th:text="${book.title}"></h1>
							<p th:text="${book.author}"></p>
							<p th:text="${book.owner}"></p>
						</div>
					</div>
					
					<div>
						<p th:text="${book.description}"></p>
					</div>
				</div>
			</div>
		</div>
		
		<footer th:replace="include/footer :: footer"></footer>
		<th:block th:replace="include/scripts :: scripts"/>
	</body>
</html>