<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.slam.publicshare.mapper.book.BookImageMapper">

    <insert id="save">
        INSERT INTO BOOK_IMAGE /* bookImageMapper.save */
                    (
                    BOOK_ID
                    , IMAGE_URL
                    , ORD_NO
                    )
             VALUES <foreach collection="list" item="i" separator=",">
                    (
                    LAST_INSERT_ID()
                    , #{i.imageUrl}
                    , #{i.ordNo}
                    )
                    </foreach>
    </insert>

</mapper>