<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<section th:fragment="header" class="jumbotron text-center container">
	<div> <!-- class="container" -->
		<h1 class="jumbotron-heading"><a href="/">Public Share</a></h1>
		<div th:unless="${session == null || session.auth == null}" class="clearfix mb-3">
			<a href="/my-page/" class="btn btn-link float-right">MyPage</a>
			<a href="/sign-out" class="btn text-danger float-right">Sign-out</a>
		</div>
		<!--<p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>-->
		<p th:if="${session == null || session.auth == null}">
			<a href="/sign-up" class="btn btn-success my-2">Sign-up!</a>
			<a href="/sign-in" class="btn btn-outline-secondary my-2">Sign-in</a>
		</p>
	</div>
</section>
</html>