<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.slam.mapper.notice.NoticeMapper">

    <select id="findTotalCount" resultType="Integer">
        SELECT COUNT(*)
          FROM BOOK b
          JOIN BOOK_HISTORY h
            ON b.ID = h.BOOK_ID
         WHERE
               (b.CREATED_BY = #{username} AND h.REQUESTED_STATUS = 'WAIT_FOR_RESPONSE')
            OR (b.CREATED_BY = #{username} AND h.REQUESTED_STATUS = 'RETURN_REQUEST')
            OR (h.REQUESTED_USER = #{username} AND h.REQUESTED_STATUS = 'REJECTED')
    </select>
</mapper>