<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:replace="include/head :: head" />
		<title>Main page :: Public-Share</title>
	</head>
	<body>
		<section th:replace="include/header :: header"></section>
		
		<div class="album py-5">
			<div class="container">
				<div class="row">
					
					<div th:each="book : ${books}" class="col-md-4">
						<div class="card mb-4 shadow-sm">
							<a th:href="|/book/${book.id}|">
								<img class="card-img-top" th:alt="${book.title}" th:src="@{|http://img.worksout.co.kr/${book.mainImage}|}">
							</a>
							<div class="card-body">
								<a th:href="|/book/${book.id}|">
									<p class="card-text" th:text="${book.title}"></p>
									<p th:text="${book.author}"></p>
								</a>
								<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group">
										<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
										<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
									</div>
									<small class="text-muted" th:text="${book.createdAt}"></small>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		
		<footer th:replace="include/footer :: footer"></footer>
		<th:block th:replace="include/scripts :: scripts"/>
	</body>
</html>