<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.slam.mapper.account.AccountSelectMapper">

    <resultMap id="accountFindMap" type="account">
        <id column="USERNAME" property="username"/>
        <result column="NAME" property="name"/>
        <result column="PASSWORD" property="password"/>
        <result column="EMAIL" property="email"/>
        <result column="CREATED_AT" property="createdAt"/>
        <result column="MODIFIED_AT" property="modifiedAt"/>
        <collection property="roles" ofType="role">
            <id column="ID" property="id"/>
            <result column="ROLE_NAME" property="name"/>
        </collection>
    </resultMap>
    <select id="findById" resultMap="accountFindMap">
		SELECT
		       acc.USERNAME,
		       acc.NAME,
		       PASSWORD,
		       EMAIL,
		       CREATED_AT,
		       MODIFIED_AT,
		       role.ID,
		       role.NAME ROLE_NAME
		  FROM
		       ACCOUNT acc
	      JOIN
		       (SELECT
		               ID, USERNAME, NAME
		          FROM
		               ACCOUNT_ROLE acc
		          JOIN ROLE role
		            ON acc.ROLE_ID = role.id) as role
		    ON acc.USERNAME = role.USERNAME
		 WHERE acc.USERNAME = #{username}
	</select>

    <select id="findAll" resultMap="accountFindMap">
		SELECT
		       acc.USERNAME,
		       acc.NAME,
		       PASSWORD,
		       EMAIL,
		       CREATED_AT,
		       MODIFIED_AT,
		       role.ID,
		       role.NAME ROLE_NAME
		  FROM
		       ACCOUNT acc
	      JOIN
		       (SELECT
		               ID, USERNAME, NAME
		          FROM
		               ACCOUNT_ROLE acc
		          JOIN ROLE role
		            ON acc.ROLE_ID = role.id) as role
		    ON acc.USERNAME = role.USERNAME
	</select>

</mapper>