<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.slam.mapper.account.AccountSaveMapper">

	<insert id="save">
		INSERT INTO ACCOUNT
		            (
		            USERNAME
		            , PASSWORD
		            , EMAIL
		            , NAME
		            )
		     VALUES (
		            #{username}
		            , #{password}
		            , #{email}
		            , #{name}
		            )
	</insert>

</mapper>
