<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.slam.mapper.book.BookUpdateMapper">

    <update id="updateStatus">
        UPDATE /* bookUpdateMapper.updateStatus */
               BOOK
           SET STATUS = #{status}
               , MODIFIED_BY = #{modifiedBy}
               , MODIFIED_AT = NOW()
         WHERE ID = #{id}
    </update>

    <update id="conditionalUpdateStatus">
        UPDATE /* bookUpdateMapper.conditionalUpdateStatus */
               BOOK
           SET STATUS = CASE
               WHEN EXISTS(SELECT COUNT(*) FROM BOOK_HISTORY WHERE BOOK_ID = #{id} AND REQUESTED_STATUS = 'ON_RESERVED')
                    THEN 'WAIT_FOR_RESPONSE'
               ELSE 'AVAILABLE'
               END
               , MODIFIED_BY = #{modifiedBy}
               , MODIFIED_AT = NOW()
         WHERE ID = #{id}
    </update>

</mapper>