<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.slam.mapper.book.BookSelectMapper">

    <select id="findTotalCount" resultType="Integer">
        SELECT /* bookSelectMapper.findTotalCount */
               COUNT(*)
          FROM BOOK
         <if test="searchText != null and searchText != ''">
         WHERE LOWER(TITLE) LIKE CONCAT(CONCAT('%', #{searchText}), '%')
            OR LOWER(AUTHOR) LIKE CONCAT(CONCAT('%', #{searchText}), '%')
         </if>
         <if test="username != null and username != ''">
         WHERE CREATED_BY = #{username}
         </if>
    </select>

    <resultMap id="findBookMap" type="book">
        <id column="ID" property="id"/>
        <result column="TITLE" property="title"/>
        <result column="AUTHOR" property="author"/>
        <result column="DESCRIPTION" property="description"/>
        <result column="MAIN_IMAGE" property="mainImage"/>
        <result column="STATUS" property="status"/>
        <result column="CREATED_BY" property="createdBy"/>
        <result column="CREATED_AT" property="createdAt"/>
        <result column="RECENT_LOANER" property="recentLoaner"/>
        <result column="WAITERS" property="waiters"/>
        <result column="IS_RESERVED" property="isReserved"/>
        <collection property="images" ofType="bookImage">
            <result column="IMAGE_URL" property="imageUrl"/>
        </collection>
        <collection property="histories" ofType="bookHistory">
            <result column="REQUESTED_STATUS" property="requestedStatus"/>
            <result column="REQUESTED_USER" property="requestedUser"/>
        </collection>
    </resultMap>

    <select id="findAll" resultMap="findBookMap">
        SELECT /* bookSelectMapper.findAll */
               b.ID
               , TITLE
               , AUTHOR
               , STATUS
               , MAIN_IMAGE
               , CREATED_BY
               , CREATED_AT
          FROM BOOK b
         <if test="searchText != null and searchText != ''">
         WHERE LOWER(TITLE) LIKE CONCAT(CONCAT('%', #{searchText}), '%')
            OR LOWER(AUTHOR) LIKE CONCAT(CONCAT('%', #{searchText}), '%')
         </if>
      ORDER BY ID DESC
         LIMIT #{jumpCount}, #{selectCount}
    </select>

    <select id="findAllByOwner" resultMap="findBookMap">
        SELECT /* bookSelectMapper.findAllByOwner */
               b.ID
               , TITLE
               , AUTHOR
               , MAIN_IMAGE
               , STATUS
               , CREATED_BY
               , CREATED_AT
               , (SELECT COUNT(*)
                    FROM BOOK_HISTORY h
                   WHERE b.ID = h.BOOK_ID
                     AND REQUESTED_STATUS IN ('WAIT_FOR_RESPONSE', 'ON_RESERVED', 'RETURN_REQUEST')
                 ) AS WAITERS
          FROM BOOK b
         WHERE CREATED_BY = #{username}
      ORDER BY ID DESC
         LIMIT #{jumpCount}, #{selectCount}
    </select>

    <select id="findById" resultMap="findBookMap">
        SELECT /* bookSelectMapper.findById */
               b.ID
               , TITLE
               , AUTHOR
               , DESCRIPTION
               , MAIN_IMAGE
               , b.STATUS
               , CREATED_BY
               , CREATED_AT
               , IMAGE_URL
               , h.REQUESTED_STATUS
               , h.REQUESTED_USER
               , (SELECT
                         REQUESTED_USER
                    FROM BOOK_HISTORY
                   WHERE BOOK_ID = #{id}
                     AND REQUESTED_STATUS IN ('WAIT_FOR_RESPONSE', 'ON_LOAN')
                   LIMIT 1
                 ) AS RECENT_LOANER
               <if test="auth != null">
               , IF ((SELECT 1
                        FROM BOOK_HISTORY
                       WHERE BOOK_ID = #{id}
                         AND REQUESTED_STATUS = 'ON_RESERVED'
                         AND REQUESTED_USER = #{auth.name}), 1, 0) AS IS_RESERVED
               </if>
          FROM BOOK b
     LEFT JOIN BOOK_IMAGE i
            ON b.ID = i.BOOK_ID
     LEFT JOIN BOOK_HISTORY h
            ON b.ID = h.BOOK_ID
         WHERE b.ID = #{id}
      ORDER BY ORD_NO ASC
    </select>

</mapper>